                        /*DO NOT TOUCH*/
*{
    padding: 0;
    padding: 0;
}
#background{
    background: radial-gradient( blue, black);
    width: 1450px;
    height: 820px;
    -webkit-background-size: cover;
    -moz-backgroun2d-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform: scale(1.1);
}

#welcome{
    position: relative;
    top:-600px;
    right:-150px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:20px;
    color:white
}
#log-in{
    width: 350px;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    top:-950px;
    right:-300px;
    border-radius: 10px;
    
}

.input-box1{
    position: relative;
    top:-1250px;
    right: -870px;
    height: 295px;
    margin: 8px auto 0;
    height: 35px;
    border-radius: 5px;
    cursor: auto;
    
}
.input-box2{
    position: relative;
    top:-1220px;
    right: -870px;
    height: 295px;
    margin: 8px auto 0;
    height: 35px;
    border-radius: 5px;   
}
.signin-btn{
    position: relative;
    top:-1190px;
    right: -870px;
    width: 310px;
    height: 35px;
    color:white;
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
.signin-btn:hover{
    background-color: white;
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
}
#forgot-password{
    position: relative;
    top:-1180px;
    right:-960px;
    font-family: 'Source Sans Pro', sans-serif;
}
.signup-btn
{
    position: relative;
    top:-1160px;
    right: -870px;
    width: 310px;
    height: 35px;
    color:white;
    background-color: green;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
.signup-btn:hover{
    background-color: lime;
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
}
                       /*DO NOT TOUCH*/

#sign-up{
    width: 500px;
    height: 350px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    position: relative;
    top:-1500px;
    right:-00px;
    border-radius: 10px;
    
}
#sign-up-words{
    position: relative;
    top: -1900px;
    right:-640px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    text-decoration: bold;

}
.input-box3{
    position: relative;
    top:-1900px;
    right:-500px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 2px;
    height: 20px;
}

.input-box4{
    position: relative;
    top:-1925px;
    right:-700px;
    margin-right: 10px;
    border-radius: 2px;
    height: 20px;
}
.input-box5{
    position: relative;
    top:-1910px;
    right:-510px;
    margin-right: 10px;
    border-radius: 2px;
    height: 20px;
}
#month{
    position: relative;
    top:-1920px;
    right:-510px;
    width:140px;
    height: 20px;
    border-radius: 2px;
}
#day{
    position: relative;
    top:-1920px;
    right:-510px;
    width:80px;
    height: 20px;
    border-radius: 2px;
}
#year{
    position: relative;
    top:-1920px;
    right:-510px;
    width:140px;
    height: 20px;
    border-radius: 2px;
}

.input-box6{
    position: relative;
    top:-1900px;
    right:-510px;
    margin-right: 10px;
    border-radius: 2px;
    height: 20px;
}

#genders{
    position: relative;
    top:-1910px;
    right:-600px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}

#select-birth{
    position: relative;
    top:-1910px;
    right:-510px;
    color:gray;
    font-family: 'Source Sans Pro', sans-serif;
}
#select-genders{
    position: relative;
    top:-1910px;
    right:-510px;
    color:gray;
    font-family: 'Source Sans Pro', sans-serif;
}
.signup-btns{
    position: relative;
    top:-1860px;
    right: -600px;
    width: 210px;
    height: 35px;
    color:white;
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.signup-btns:hover{
    background-color: lime;
    color:black;
    font-family: 'Source Sans Pro', sans-serif;
}
